<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Введение" data-toc-modified-id="Введение-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Введение</a></span><ul class="toc-item"><li><span><a href="#Основные-типы-данных" data-toc-modified-id="Основные-типы-данных-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Основные типы данных</a></span></li></ul></li><li><span><a href="#Series" data-toc-modified-id="Series-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Series</a></span><ul class="toc-item"><li><span><a href="#Создание-Series-из-List" data-toc-modified-id="Создание-Series-из-List-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Создание Series из List</a></span></li><li><span><a href="#Создание-Series-из-ndarray-(numpy)" data-toc-modified-id="Создание-Series-из-ndarray-(numpy)-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Создание Series из ndarray (numpy)</a></span></li><li><span><a href="#Создание-Series-из-словаря-(dict)" data-toc-modified-id="Создание-Series-из-словаря-(dict)-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Создание Series из словаря (dict)</a></span></li><li><span><a href="#Обращение-к--элементам-Series" data-toc-modified-id="Обращение-к--элементам-Series-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Обращение к  элементам Series</a></span><ul class="toc-item"><li><span><a href="#Обращение-к-одному-элементу" data-toc-modified-id="Обращение-к-одному-элементу-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>Обращение к одному элементу</a></span></li><li><span><a href="#Перечисление" data-toc-modified-id="Перечисление-2.4.2"><span class="toc-item-num">2.4.2&nbsp;&nbsp;</span>Перечисление</a></span></li><li><span><a href="#Срезы" data-toc-modified-id="Срезы-2.4.3"><span class="toc-item-num">2.4.3&nbsp;&nbsp;</span>Срезы</a></span></li><li><span><a href="#Обращение-с-условием:" data-toc-modified-id="Обращение-с-условием:-2.4.4"><span class="toc-item-num">2.4.4&nbsp;&nbsp;</span>Обращение с условием:</a></span></li></ul></li><li><span><a href="#Работа-с-Series" data-toc-modified-id="Работа-с-Series-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Работа с Series</a></span></li><li><span><a href="#Добавление-элемента" data-toc-modified-id="Добавление-элемента-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Добавление элемента</a></span></li><li><span><a href="#Функция-Series.add" data-toc-modified-id="Функция-Series.add-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Функция <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.add.html#pandas.Series.add" target="_blank">Series.add</a></a></span></li><li><span><a href="#Другие-полезные-функции:" data-toc-modified-id="Другие-полезные-функции:-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>Другие полезные функции:</a></span></li></ul></li><li><span><a href="#Создание-DataFrame" data-toc-modified-id="Создание-DataFrame-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Создание DataFrame</a></span><ul class="toc-item"><li><span><a href="#Создание-DataFrame-из-набора-массивов" data-toc-modified-id="Создание-DataFrame-из-набора-массивов-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Создание DataFrame из набора массивов</a></span></li><li><span><a href="#Создание-DataFrame-из-двумерного-массива:" data-toc-modified-id="Создание-DataFrame-из-двумерного-массива:-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Создание DataFrame из двумерного массива:</a></span></li><li><span><a href="#Создание-из-словаря:" data-toc-modified-id="Создание-из-словаря:-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Создание из словаря:</a></span></li><li><span><a href="#Чтение-из-файла-Exel,-CSV" data-toc-modified-id="Чтение-из-файла-Exel,-CSV-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Чтение из файла Exel, CSV</a></span></li><li><span><a href="#Дополнение-(latex-в-названиях)" data-toc-modified-id="Дополнение-(latex-в-названиях)-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Дополнение (latex в названиях)</a></span></li></ul></li><li><span><a href="#Работа-c-DataFrame" data-toc-modified-id="Работа-c-DataFrame-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Работа c DataFrame</a></span><ul class="toc-item"><li><span><a href="#Обращение-к-элементам-DataFrame" data-toc-modified-id="Обращение-к-элементам-DataFrame-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Обращение к элементам DataFrame</a></span><ul class="toc-item"><li><span><a href="#Указание-срезов" data-toc-modified-id="Указание-срезов-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>Указание срезов</a></span></li><li><span><a href="#Методы-.iloc,-.loc" data-toc-modified-id="Методы-.iloc,-.loc-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>Методы .iloc, .loc</a></span></li><li><span><a href="#Логические-выражения" data-toc-modified-id="Логические-выражения-4.1.3"><span class="toc-item-num">4.1.3&nbsp;&nbsp;</span>Логические выражения</a></span></li></ul></li></ul></li></ul></div>

# Введение
Библиотека Pandas используется для работы с таблицами.

Подключим необходимые библиотеки (установка аналогично установки Numpy)

In [101]:
import numpy as np
import pandas as pd

## Основные типы данных
Pandas добавляет два новых типа данных Series, DataFrame.
* Series - упорядочный ассоциативный массив
* DataFrame - Упорядочный двумерный ассоциатиный массив (ну или просто таблица)
Начнем с Series

# Series
Напомним, что Series - упорядочный ассоциативный массив, то есть мы можем обратиться, как по индексу, так и по ключу (метке). Отметим, что как и в Numpy, в Series должны быть данные одного типа.

Создать Series можно из:
* List (массив)
* Dict (словарь)
* ndarray (массив из Numpy)

## Создание Series из List
Создадим Series из List

In [102]:
s = pd.Series([1,2,43,12])
s

0     1
1     2
2    43
3    12
dtype: int64

Если хотим создать Series со своими ключами:

In [103]:
s = pd.Series([ 1 , 2 , 3 , 4 , 5 ], [ 'a' , 'b' , 'c' , 'd' , 'e' ])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

Обратимся по ключу:

In [104]:
s['a']

1

Обратимся по индексу:

In [105]:
s[0]

1

## Создание Series из ndarray (numpy)

In [106]:
# Создадим массив в Numpy
narr = np.array([ 1 , 2 , 3 , 4 , 5 ])

In [107]:
s = pd.Series(narr)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

Если хотим со своими индексами:

In [108]:
s = pd.Series(narr, [ 'a' , 'b' , 'c' , 'd' , 'e' ])
# либо s = pd.Series(narr, index = ['a','b','c','d','e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

## Создание Series из словаря (dict)

In [109]:
d = {'a' : 1 , 'b' : 2, 'c' : 4,'d' : 13, 'e' : 49, 'f' : 1}
s = pd.Series(d)
s

a     1
b     2
c     4
d    13
e    49
f     1
dtype: int64

## Обращение к  элементам Series
### Обращение к одному элементу
Как уже было отмечено можно обращаться, как по меткам (если они созданы), либо по номеру элемента (всегда), например:

In [12]:
s['a']

1

In [13]:
s[1]

2

### Перечисление
Можно перечислить несколько элементов, срез, логическое выражение:

In [40]:
s

a     1
b     2
c     4
d    13
e    49
f     1
dtype: int64

In [32]:
# перечисление нескольких элементов:
s[[0,2]]

a    1
c    4
dtype: int64

In [34]:
# по меткам:
s[['a','c']]

a    1
c    4
dtype: int64

### Срезы
Срез это последовательная часть массива или весь массив. Синтаксис:
`Имя_массива[начало:конец]`

In [38]:
s[0:4]

a     1
b     2
c     4
d    13
dtype: int64

In [42]:
s[3:5]

d    13
e    49
dtype: int64

Можно по меткам:

In [45]:
s['c':'d']

c     4
d    13
dtype: int64

Можно указывать отрицательные индексы это означает отсчет с конца:

In [48]:
s[1:-1]

b     2
c     4
d    13
e    49
dtype: int64

Если пропустить индекс, это означает начало или конец:

In [52]:
s[:4]  # c начала до 5 элемента

a     1
b     2
c     4
d    13
dtype: int64

In [53]:
s[2:] # c 3 элемента до конца

c     4
d    13
e    49
f     1
dtype: int64

In [51]:
s[:] # весь массив

a     1
b     2
c     4
d    13
e    49
f     1
dtype: int64

### Обращение с условием:
Синтаксис следующий: `Имя_массива[Имя_массива условие]`

In [54]:
s

a     1
b     2
c     4
d    13
e    49
f     1
dtype: int64

In [56]:
s [s > 1]

b     2
c     4
d    13
e    49
dtype: int64

In [66]:
s [(s > 1) & (s < 49)]

b     2
c     4
d    13
dtype: int64

## Работа с Series
Series и операции над ней, похожи на массивы в Numpy, соответственно операции над ним похожи:

In [128]:
s = pd.Series([1,2,3,4,5]) # размер Series
s.size

5

In [129]:
a = pd.Series([1,2,3])
b = pd.Series([3,4,5])
a + b

0    4
1    6
2    8
dtype: int64

In [130]:
c = pd.Series([1,2,3,4,5]) # Если разные размеры
a + c

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64

In [131]:
c * 3

0     3
1     6
2     9
3    12
4    15
dtype: int64

Функции из Numpy, так же отлично работают:

In [132]:
np.outer(a,b)

array([[ 3,  4,  5],
       [ 6,  8, 10],
       [ 9, 12, 15]])

In [133]:
np.cross(a,b)

array([-2,  4, -2])

## Добавление элемента

Для того, чтобы добавить элемент в конец, можно просто указать номер индекса и значение

In [424]:
c = pd.Series([1,2,3,4,5])
c[12] = 5
c

0     1
1     2
2     3
3     4
4     5
12    5
dtype: int64

Аналогично с ключом

In [168]:
d = pd.Series({'a' : 1 , 'b' : 2, 'c' : 4,'d' : 13, 'e' : 49, 'f' : 1})
d['gg'] = 124
d

a       1
b       2
c       4
d      13
e      49
f       1
gg    124
dtype: int64

## Функция [Series.add](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.add.html#pandas.Series.add)
Функция позволяет добавить к Series другую Series. Если метка есть двух сериях, складывает их. Если указана fill_value, тогда если значение есть в одной из серий, это значение складывается со значением fill_value.

In [187]:
a = pd.Series([1, 1, 1, np.nan], index=['a', 'b', 'c', 'd'])
b = pd.Series([1, np.nan, 1, np.nan,5], index=['a', 'b', 'd', 'e','f'])
a

a    1.0
b    1.0
c    1.0
d    NaN
dtype: float64

In [188]:
b

a    1.0
b    NaN
d    1.0
e    NaN
f    5.0
dtype: float64

In [212]:
a.add(b)

a    2.0
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
dtype: float64

In [215]:
a.add(b,  fill_value=0)

a    2.0
b    1.0
c    1.0
d    1.0
e    NaN
f    5.0
dtype: float64

## Другие полезные функции:
* [Series.drop_duplicates](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.drop_duplicates.html#pandas.Series.drop_duplicates) - убирает дубликаты
* [pandas.Series.value_counts](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html#pandas.Series.value_counts) - подсчет количества элементов (можно использовать для построения гистограмм

[Документация](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html#pandas.Series)

# Создание DataFrame
Вторая структура данных DataFrame по своей сути является набором Series, образуя таблицу, где Series (или массивы, или массивы Numpy) - строки:

In [426]:
a = pd.Series([1,2,3])
b = pd.Series([3,4,5])

d = pd.DataFrame([a,b])
d

   0  1  2
0  1  2  3
1  3  4  5

Создать DataFrame можно из:
1. Набора одномерных массивов (Series, Numpy, List [все элементы одинаковые])
2. Двумерного массива
3. Словаря
4. Прочитать Exel, .csv

## Создание DataFrame из набора массивов
Как уже отмечалось, при таком способе массивы становятся строками таблицы:

In [317]:
a = pd.Series([1,2,3,35])
b = pd.Series([1,2,21,231,12])
c = pd.Series([1,2])
d = pd.DataFrame([a,b,c])
d

     0    1     2      3     4
0  1.0  2.0   3.0   35.0   NaN
1  1.0  2.0  21.0  231.0  12.0
2  1.0  2.0   NaN    NaN   NaN

Как видно из примера, при несоответствии размеров массивов добавляются NaN.

Теперь изменим название колонок:

In [318]:
d.columns = ['kol1','kol2','kol3','kol4','kol5']
d

   kol1  kol2  kol3   kol4  kol5
0   1.0   2.0   3.0   35.0   NaN
1   1.0   2.0  21.0  231.0  12.0
2   1.0   2.0   NaN    NaN   NaN

А индексы начнем с 1

In [319]:
d.index = np.arange(1,d.index.size+1,1)
d

   kol1  kol2  kol3   kol4  kol5
1   1.0   2.0   3.0   35.0   NaN
2   1.0   2.0  21.0  231.0  12.0
3   1.0   2.0   NaN    NaN   NaN

## Создание DataFrame из двумерного массива:
В этот раз изменим

In [257]:
data = [
    [123,431,43,54235],
    [13,23535,3413,134],
    [123,111,222,333,4444]
]
len(data)

3

In [258]:
d = pd.DataFrame(data, index = np.arange(1,len(data)+1,1), columns= ['kol1','kol2','kol3','kol4','kol5'])
d

   kol1   kol2  kol3   kol4    kol5
1   123    431    43  54235     NaN
2    13  23535  3413    134     NaN
3   123    111   222    333  4444.0

## Создание из словаря:

In [262]:

d = pd.DataFrame({'kol1': [1,2,3],'kol2':[4,5,6]},index = [1,2,3])
d

   kol1  kol2
1     1     4
2     2     5
3     3     6

## Чтение из файла Exel, CSV
Для чтения файла, необходимо,чтобы в файле не было лишних данных, так же файл должен быть в папке с с вашим Notebook, иначе необходимо в названии прописать относительный путь до файла:

In [281]:
table = pd.read_excel('Untitled.xlsx',header=0,index_col=0)
table

   kol1  kol2  kol3
1     1     4    32
2     2     5    21
3     3     6    41
4     4    67    21

Как выглядит exel файл
![](exel.png)

* `header=0`: 1 строка - названия колонок 
* `index_col=0`: 1 столбец - названия индексов
если нет названия колонок или индексов необходимо написать None

Чтение из CVS аналогично, с тем исключением, что надо указать разделитель(если он отличен от запятой):

Создадим CSV файл (можно из Exel экспортировать в CSV)

In [291]:
data = pd.read_csv('csv.csv',header=None)
data

     0    1   2
0    1   46  53
1    2  345  54
2    3    4  12
3  124   21  21
4   21  124  43

`header = None` так, как мы не имеем выделенную строку под названия, если не указать header =0, то он сделает первую строку названиями

In [309]:
data = pd.read_csv('csv.csv')
data

     1   46  53
0    2  345  54
1    3    4  12
2  124   21  21
3   21  124  43

## Дополнение (Latex в названиях)
Названия колонок поддерживают Latex. Не забывайте ставить r, перед строкой, чтобы не надо было экранировать символы (если вы не поняли, что написано, то просто ставьте r, перед строкой, если пишите Latex)

In [313]:
data1 = pd.read_csv('csv.csv')

In [315]:
data1 = pd.read_csv('csv.csv')
data1.columns = [r'$\pi$',r'$\sqrt{e^2}$',r'$\frac{1}{2}$']
data1.index = ['$\pi$','$\phi$','$\delta$','$\epsilon$']
data1

            $\pi$  $\sqrt{e^2}$  $\frac{1}{2}$
$\pi$           2           345             54
$\phi$          3             4             12
$\delta$      124            21             21
$\epsilon$     21           124             43

# Работа c DataFrame
Для примера сделаем табличку из csv, и создадим столбец равный первый + второй (о том, как это делать расскажем позже)

In [395]:
df = pd.read_csv('5.4.2_data.csv',decimal = ',') # decimal = ',' используем потому что в csv дробная часть отделена запятой, а не точкой
df['AB'] = df.iloc[:,0] + df.iloc[:,1]
df

    I, A  N , 1/c      AB
0   0.20    1.350   1.550
1   0.40    1.400   1.800
2   0.60    1.350   1.950
3   0.80    1.789   2.589
4   1.00    2.679   3.679
5   1.20    3.709   4.909
6   1.40    4.559   5.959
7   1.60    4.989   6.589
8   1.80    6.138   7.938
9   2.00    6.508   8.508
10  2.20    5.498   7.698
11  2.40    4.909   7.309
12  2.60    3.639   6.239
13  2.80    2.729   5.529
14  2.90    2.869   5.769
15  3.00    4.029   7.029
16  3.20    8.627  11.827
17  3.30   11.017  14.317
18  3.35   10.027  13.377
19  3.40    6.388   9.788
20  3.60    2.339   5.939
21  3.80    0.860   4.660
22  4.00    0.490   4.490
23  4.20    0.290   4.490
24  4.40    0.490   4.890

Если необходимо посмотреть, только вверх таблички можно использовать метод .head()

In [392]:
df.head()

   I, A  N , 1/c     AB
0   0.2    1.350  1.550
1   0.4    1.400  1.800
2   0.6    1.350  1.950
3   0.8    1.789  2.589
4   1.0    2.679  3.679

## Обращение к элементам DataFrame
Обращаться (выводить элементы можно по разному).

### Указание срезов

In [427]:
df[1:3]

   I, A  N , 1/c    AB
1   0.4     1.40  1.80
2   0.6     1.35  1.95

In [418]:
df['AB']

0      1.550
1      1.800
2      1.950
3      2.589
4      3.679
5      4.909
6      5.959
7      6.589
8      7.938
9      8.508
10     7.698
11     7.309
12     6.239
13     5.529
14     5.769
15     7.029
16    11.827
17    14.317
18    13.377
19     9.788
20     5.939
21     4.660
22     4.490
23     4.490
24     4.890
Name: AB, dtype: float64

In [428]:
df[1:3]['AB']

1    1.80
2    1.95
Name: AB, dtype: float64

### Методы .iloc, .loc
* .iloc - обращается к номерам строк и столбцов
* .loc - обращается к меткам строк и столбцов
Синтаксис их следующий: 

`DataFrame.iloc[номер строки1:номер строки2, номер столбца1:номер столбца2]` будет выведена матрица от строки 1 до 2 (не включая) и столбцов 1 до 2(не включая). `.loс` - аналогично только вместо номеров необходимо использовать метки (и концы входят в вывод).

In [405]:
df.iloc[1:10,0:2]

   I, A  N , 1/c
1   0.4    1.400
2   0.6    1.350
3   0.8    1.789
4   1.0    2.679
5   1.2    3.709
6   1.4    4.559
7   1.6    4.989
8   1.8    6.138
9   2.0    6.508

In [429]:
df.loc[1:5,'I, A':'AB']

   I, A  N , 1/c     AB
1   0.4    1.400  1.800
2   0.6    1.350  1.950
3   0.8    1.789  2.589
4   1.0    2.679  3.679
5   1.2    3.709  4.909

По своей сути мы передаем два среза, поэтому можно использовать те же обозначения, что и в срезах:
* df.iloc[:,:] - вся таблица
* df.iloc[:,1] - весь 2 столбец
* df.icoc[1,:] - вся 2 строка
* df.iloc[1:10,1] - 2 - 9 элементы 2 столбца

Так же, можно указывать отрицательные индексы

### Логические выражения
Аналогично Series логические выражения для DataFrame, необходимо указывать по какому стобцу/cтроке идет проверка:

In [430]:
df[df.iloc[:,0]<3].head()

   I, A  N , 1/c     AB
0   0.2    1.350  1.550
1   0.4    1.400  1.800
2   0.6    1.350  1.950
3   0.8    1.789  2.589
4   1.0    2.679  3.679